.bg-custom {
    background-color: #0c0c0c; /* Sustituye #nuevoColor por el código hexadecimal de tu color deseado */
}

.card-body h1 {
    font-size: 70px; /* Cambiar tamaño de letra */
    text-align: center;
}

.card-body h2 {
    font-size: 30px; 
    text-align: center; /* Centrar texto */
}

.card-body h3 {
    font-size: 20px;
    text-align: center;
}

.card-body h4 {
    font-size: 15px;
    text-align: center;
}

.card-body p {
    font-size: 20px;
    text-align: center;
}

.cardPerfil{
    width: 700px;
    height: 400px;
    position: relative;
    top: 25px;
    left: 40px;
    background-image: url('/images/fondoCard.jpg'); /* Poner de fondo una imagen */
    background-size: cover; /* Cubre por completo el area de la tarjeta */
    background-position: center; /* Centra la imagen de fondo */
}

.cardFecha{
    width: 700px;
    height: 100px;
    position: relative;
    top: 75px;
    left: 40px;
    background-image: url('/images/fondoCard.jpg'); /* Poner de fondo una imagen */
    background-size: cover; /* Cubre por completo el area de la tarjeta */
    background-position: center; /* Centra la imagen de fondo */
}

.cardDash{
    width: 718px;
    height: 100px;
    position: relative;
    top: -322px;
    left: 770px;
    background-image: url('/images/fondoCard.jpg'); /* Poner de fondo una imagen */
    background-size: cover; /* Cubre por completo el area de la tarjeta */
    background-position: center; /* Centra la imagen de fondo */
}