.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="date"],
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-group {
    margin-left: 3px;
    display: inline-flex;
    align-items: center;
}

#clearFiltersBtn {
    margin-left: 10px;
}

.close-filter {
    color: red; 
    font-size: 18px; 
  }

.estatus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 480px) {
    .form-group {
        flex-direction: row;
        align-items: center;
    }

    .form-group label {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .form-group input[type="date"],
    .form-group select {
        flex-grow: 1;
    }
}